<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Suzanne Wirz Veranstaltungshinweise</title>

<link rel="stylesheet" type="text/css" href="css/pop_up.css">
<link rel="stylesheet" type="text/css" href="css/bilder.css">
</head>
<body>	
	<div id="impressum">

	    <div>Text und Bild: Suzanne Wirz<br><br>
			Konzept, Gestaltung und TYPO3-Implementierung: i-werk, Basel</div>  
	</div>
</body>
</html>