<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"

       "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<title>Suzanne Wirz Pfarrerin Markuskirche Bern</title>

<link rel="stylesheet" type="text/css" href="css/print.css">

<link rel="stylesheet" type="text/css" href="css/bilder.css">

<script type="text/javascript" src="js/suzanne_script.js" ></script>

</head>

<body>

<div id="alles">

	<div id="kopf">
		<div>&nbsp;</div>
	
		<a name="top"></a>

		<div id="logo">Suzanne Wirz
		</div>


	</div>
	

	<div id="rechts">

			<div id="erklaerung">

			<h1>&nbsp;</h1>

			<div id="erklaerungText"><p>&nbsp;</p></div>

		</div>

				

	    <div id=inhalt>

	  		<div class="titelOhneAbstand">Links</div>

			    <div id="einspaltig"> 

					<div id="linkblock">	

						<h3>Aktualit&auml;t und Infosuche</h3>

						<div class="linksSeite">

							<div>&#155; <a href="http://www.woz.ch" target="_blank">www.woz.ch</a> <span>immer noch am Leben, zum Gl&uuml;ck!<span><br></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	<div class="fussnote"></div>		
		

  </div>




	</div>

</div>

</body>

</html>	