<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<title>Suzanne Wirz Pfarrerin Markuskirche Bern</title>
<link rel="stylesheet" type="text/css" href="css/start.css">
<link rel="stylesheet" type="text/css" href="css/bilder.css">
<script type="text/javascript" src="js/start.js"></script>
</head>
<body>

<div id="alles">
	<div id="hinweis"><a href="">Er h&ouml;rte nicht auf, ihr immer wieder zuzul&auml;cheln...</a></div>
	<div id="logoErkl">&nbsp;</div>
		<div id="kopf">
			
	
			<div id="navbalken"><img id="logo" src="images/logo_120_2.gif">
				<div id="nav1stAmt">
					<div class="nav1stKast">
						<a href="">Predigt</a>
						<a href="">Pfarrgarten</a>
						<a href="">Blütenlese</a>			
					</div><img src="images/nav/amt_100x32_transp.gif"/>
	  			</div>
				<div id="nav1stPrivat">
					<div class="nav1stKast">
						<a href="">Blütenlese</a>
						<a href="">Bilder</a>
						<a href="">Family</a>
  					</div><img  class="bildRandObOhne"src="images/nav/privat_100x32.jpg"/>
				</div>
				<div id="nav1stVerm">
					<div class="nav1stKast">
						<a href="">Nicht verpassen</a>
						<a href="">Links</a>
						<a href="">Kontakt</a>
					</div><img src="images/nav/verm_100x32_transp.gif"/>
				</div><img src="images/blume.jpg">
  			</div>
		</div>
		
		<div id="links">
			<div id="bildGross"><img id="imgbildGross" src="images/nav/einstiegAnim.gif" name="imgGross"></div>
		</div>
</div>

</body>
</html>